:root {
  --cl-main-200: hsl(193, 38%, 86%);
  --cl-main-500: hsl(217, 19%, 38%);
  --cl-main-700: hsl(217, 19%, 24%);
  --cl-main-900: hsl(218, 23%, 16%);

  --cl-accent-300: hsl(150, 100%, 66%);
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  background: var(--cl-main-900);
  display: grid;
	align-content: center;
  margin: 0 1rem;
	min-height: 100svh;
}

.advice {
  background: var(--cl-main-700);
  display: grid;
  text-align: center;
  padding: 40px 23.5px 0;
  gap: 1rem;
  width: 100%;
  max-width: 540px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 50px 80px 0 rgba(0,0,0,0.1);
}

.advice__id {
  color: var(--cl-accent-300);
  font-size: 13px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 0;
}

.advice__text {
  color: var(--cl-main-200);
  margin: 0;
  font-size: 24px;
  letter-spacing: -.3px;
}

.advice__button {
  background: var(--cl-accent-300) url("icon-dice.svg") no-repeat center;
  font-family: inherit;
  border: none;
  width: 64px;
  aspect-ratio: 1;
  margin: auto;
  border-radius: 100%;
}

.sr-only {
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	clip-path: inset(50%);
	white-space: nowrap;
}