---
---

<main class="advice">
  <p class="advice__id">advice #<span id="adviceId"></span></p>
  <p class="advice__text" id="advice">&nbsp;</p>
  <button class="advice__button" id="getNewAdvice">Get new advice</button>
</main>
