---
---

<main class="advice">
  <p class="advice__id">advice #<span id="adviceId"></span></p>
  <p class="advice__text">“<span id="advice">&nbsp;</span>”</p>
  <button class="advice__button" id="getNewAdvice">
    <span class="sr-only">Get new advice</span>
  </button>
</main>
